.GetInspiredContainer
  display flex
  flex-direction column
  margin-top 30px
  padding-bottom 10px

.Title
  font-size 0.875rem
  font-weight bold
  line-height 1
  text-transform uppercase
  padding-bottom 10px

.AllCollections
  display block
  padding-top 5px
  color $color_primary
  text-transform uppercase
  font-size 0.75rem
