.Title
  display block
  font-size 1.25rem
  margin-bottom 20px
  
.SuggistionsListWrap
  margin-bottom 30px
  .Link
    display block
    font-weight 700
    line-height 1.6
    &:hover
      text-decoration underline
