.TrustedIcons
  padding 60px 0px 100px
  flex-center-children()
  img
    box(initial, 80px)
    margin 10px

.NormalFooter
  flex-center-children()
  padding 80px 0px 120px
  img
    margin 0 auto
    width 70%
