.Header
  flex-center-children-column()
  justify-content center
  height 70px
  background-color $color_grey_lightest
  border-bottom 1px solid $color_grey_lighter

.Logo
  display block
  width 150px

.CloseIcon
  position absolute
  top 0px
  right 0px
  font-size 2rem
  padding 16px 17px 15px 25px
  line-height 1
  cursor pointer

.OutletItemWrap
  border-top 7px solid $color_grey_lighter

.CallUs
  background-color #fff
  padding 30px 0px
  border-bottom 1px solid #ddd
  flex-center-children-column()

.PhoneWrap
  flex-center-children()

.PhoneIcon
  margin-right 10px
  margin-left -10px

.PhoneNumber
  font-size 1.75rem
  color $color_primary

.OpenHours
  color $color_grey
