.Button
  width 100%
  text-align center
  border none
  margin-bottom 10px
  transition transform 0.1s ease
  display block
  cursor pointer
  background-color #fff
  border 1px solid #fff
  span
    color #fff
    display block
    pointer-events none
    text-transform uppercase
  &:active
    transform scale(0.96)
  +below($phablet)
    transition transform 0.075s ease

// Sizes
.ButtonSizeMedium
  padding 11px 20px 10px
.ButtonSizeSmall
  padding 4px 5px 5px
  span
    font-size 0.75rem

// Variants + Colors
.ButtonColorPrimary
  &.ButtonVariantFull
    background-color $color_primary
    border-color $color_primary
    &:hover
      background-color darken($color_primary, 30%)
      border-color darken($color_primary, 30%)  
  &.ButtonVariantOutlined
    background-color #fff
    border-color $color_primary
    span
      color $color_primary
.ButtonColorDark
  &.ButtonVariantFull
    background-color $color_grey_dark
    border-color $color_grey_dark
    &:hover
      background-color lighten($color_grey_dark, 10%)
      border-color lighten($color_grey_dark, 10%)
  &.ButtonVariantOutlined
    background-color #fff
    border-color $color_grey_light
    span
      color $color_grey_dark
    &:hover
      background-color $color_grey_lightest
.ButtonColorWhite
  &.ButtonVariantFull
    span
      color $color_grey_dark
    &:hover
      background-color darken(#fff, 5%)
      border-color darken(#fff, 5%)

// Disabled
.ButtonDisabled
  cursor default
  &.ButtonVariantFull
    &.ButtonColorDark
    &.ButtonColorPrimary
      background-color $color_grey
      border-color $color_grey
    &:hover
        background-color $color_grey
        border-color $color_grey
        &:active
          transform scale(1)
    &.ButtonColorWhite
      background-color $color_grey_lighter
      border-color $color_grey_lighter
      span
        color $color_grey
