.SignupForm
  display flex
  flex-direction column
  margin-top 10px
  width 100%
  .ButtonContainer
    width 100%
    margin-bottom 3px
  .Unsubscribe
    width 100%
    text-align right
    color $color_grey_light
