.CloudinaryImage
  position relative

.BrandOverlay
  position absolute
  top 0
  left 0
  box(100%)
  .ImageWrap
    box(100%)
    flex-center-children()
    img
      width 60%
      filter brightness(0) invert(1)
