.root
  padding-bottom 10px
  .item
    display block
    margin-bottom 30px
    span
      display block
      max-width 660px
    .title
      font-size 1.25rem
      font-weight bold
      +below($phablet)
        font-size 1.125rem
    .description
      color $color_grey
    .readMore
      color $color_primary
      text-decoration underline
