.NewsletterContainer
  display flex
  flex-direction column

.Title
  font-size 0.875rem
  font-weight bold
  line-height 1
  text-transform uppercase
  padding-bottom 10px

.ContentContainer
  width 100%
  background-color $color_grey_lightest

.InnerContainer
  padding 15px
  padding-bottom 5px
  p
    font-size 0.875rem
    color $color_grey
  a
    color $color_grey
    text-decoration underline
