.MenuHeader
  display flex
  align-items center
  height 70px
  background-color $color_grey_lightest
  border-bottom 1px solid $color_grey_lighter

.BackIcon
  box(54px, 70px)
  padding 27px 19px
  flex-center-children()
  transform rotateZ(180deg)

.TitleWrap
  display flex
  align-items center

.TitleIcon
  margin-right 10px
