.root
  align-items center
  display flex
  flex-direction column
  padding-top 30px

  img
    width 100%
    max-width 460px
    padding-top 2px

  p
    color $color_grey
    max-width 460px
    text-align center
    width 100%

.form
  border-bottom 1px solid $color_grey_light
  border-top 1px solid $color_grey_light
  margin-bottom 20px
  margin-top 10px
  padding-bottom 15px
  padding-top 7px

  input
    border 2px solid #2c9169

.title
  font-size 4rem
  text-transform uppercase

.subTitle
  font-size 2rem
  padding 0
  line-height 1
