.SignupSuccess
  display flex
  margin-top 10px
  .IconWrap
    position relative
    box(70px)
    flex-shrink: 0
    margin auto 0
  .Icon
    box(100%)
    position absolute
    top 0
    left 0
  .IconBG
    svg
      box(100%)
      fill transparent
      stroke-width 10px
      stroke $color_primary
  .IconMain
    flex-center-children()
    svg
      fill $color_primary

  .TextWrap
    margin-left 10px
  .Title
    font-weight 700
