.CMSPostsWrapper
  background-color $color_grey_lightest
  padding 20px 10px
  border-bottom 1px solid #ddd
  min-height 200px
.Title
  display block
  color $color_grey
  text-transform uppercase
  margin-bottom 5px
.MagazineItemWrapper
  width: 100%;
  border-bottom: 1px dashed #d2d2d2;
  padding-bottom: 15px;
  margin-bottom: 20px;
.MagazineItemWrapperLastItem
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
.CollectionItemContainer
  width 100%
.Description
  display: block;
  color $color_grey_light
  margin-top: 5px;
  width: 100%;
  font-size: .75rem;
  letter-spacing: .5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
.AllCollectionsLink
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    color: #4b8e6b;
