.SignupSuccess
  display flex
  flex-direction column
  border-top 1px solid $color_grey_lighter
  padding 15px
  .ThumbsContainer
    height 30px
    margin 0 auto 10px auto
  p
    font-size 0.875rem
    color $color_grey
    text-align center
