.root
  background-color #4D6C8D
  padding 5px 0px
  span
    color #fff
    font-size 0.875rem
  &.hide
    display none

.text
  margin 0 auto
  max-width $uiLibrary_max
  padding 0px 15px
  display block
  text-align center
