.BurgerMenuIcon
  height 20px
  span
  &:before
  &:after
    position relative
    display block
    box(24px, 2px)
    background-color $color_grey_dark
    margin-bottom 5px
  &:before
  &:after
    content ''
  &:before
    width 21px
  &:after
    width 19px
    margin-bottom 2px
