.InfoIcon
  flex-center-children()
  flex-shrink 0
  cursor pointer
  span
    flex-center-children()
    circle(20px)
    width 20px
    height 20px
    background-color red
    line-height 1
    color #fff
    font-family: Georgia, serif
    background-color $color_primary
