.SignupForm
  padding 0 15px 5px 15px
  .TextFieldWrap
    > div
      margin-bottom 5px
  .ButtonContainer
    button
      padding 10px
      margin-bottom 0
  .Unsubscribe
    margin-top 5px
    font-size 0.75rem
    color $color_grey
