.CMSPosts
  flex-shrink 0
  margin 0 auto
  width 200px
  .SectionTitle
    width 200px
    display block
    font-size 0.875rem
    font-weight bold
    padding-bottom 2px
    text-transform uppercase
  +below($wide)
    display none

.CMSPostItem
  display block
  width 200px
  margin-bottom 10px
  .PostTitle
    display block
    font-size 0.75rem
    padding-top 3px
    color $color_grey
