.root
  height 26px
  width 50px
  background-size contain
  background-repeat no-repeat
  background-position center center

.withBorder
  max-width 40px
  background-color #fff
  border 1px solid $color_grey_lighter

.wide
  width 70px
